*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-family: 'Merienda', cursive;
    margin: 0 auto;
    margin-bottom: 10;
}


ol{
    display: inline-block;   
}
body {
    font-family: 'Merienda', cursive;
    text-align: center;
}

/*header {
    text-align: center;
}*/
.one {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: left;
}
table {
    margin: auto;
}

table, th, td{
    border: solid 1px black;
    border-collapse: collapse;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 40px;
    
}
caption {
    font-size: 24px;
    margin-bottom: 10%;
    margin-top: 10%;
    font-weight: bold;
}

img {
    display: block;
    margin: 0 auto;
}

hr {
    width: 40%;
    margin: 0 auto;
}

button{
    padding: 1vh 2%;
    display: inline-block;
    text-decoration: none;

    background-color: blue;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    font-family: 'Courgette', cursive;
}

