@import url('https://fonts.googleapis.com/css2?family=Halant&family=Merienda:wght@300;400&family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

h3 {
    font-family: 'Halant';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 150%;    
}

form {
    width: 60%;
    margin: 0 auto ;
    padding: 5%;
    
}

.label-fw {
    display:inline-block;
    width: 40%;
    margin-top: 3%;
    font-family: 'Halant';
    font-weight: 600;
    font-size: 32px;
    line-height: 20px;
    
    
}

.input-fw {
    width: 30%;
    font: 'Manrope';
    padding: 1% 1%;
}

/* label {
    display: inline-block;
    width: 35%;
} */
/*.gender {
    width: 30%;
    display: inline-block;
    margin-left: 40%;
}*/
/*input , select{
    padding: 1%;
    width: 45%;
    
}
/*label {
    width: 30%;
    display: inline-block;
}*/
body{
    margin-top: 2re;
    margin-bottom: 2rem;
}


.a {
    padding: 1%;
    background-color: #155eef;
    color: white;
    border-radius: 4px;
    border-color: #155eef;
    width: 30%;
    
}